@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Urbanist:wght@500;600;700;800&display=swap");

@font-face {
  font-family: SF Pro Display;
  src: url("./assets/fonts/SF_Pro-Display-Font-Family/SFPRODISPLAYREGULAR.OTF");
}

@font-face {
  font-family: SF Pro Text;
  src: url("./assets/fonts/SF-Pro-Text-Font-Family/SF-Pro-Text-Regular.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

:root {
  --white-color: #ffffff;
  --side-navigation-color: #003848;
  --soft-blue-theme: #f6f8ff;
}

body {
  font-family: "Inter", sans-serif;
}

/* =========== default setting =========== */

a {
  text-decoration: none;
}
li {
  list-style: none;
}
p {
  margin: 0;
  padding: 0;
}
button {
  border: none;
  background-color: transparent;
}

.hide {
  display: none;
}
.cursor {
  cursor: pointer;
  z-index: 999;
}

input:focus {
  outline: none;
  box-shadow: none;
}

input::-moz-focus-inner {
  border: 0;
}

/* ============ common classes =========== */
.transition_5s {
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}

.border_radius_12 {
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.sf_pro_font_400 {
  font-family: SF Pro Display;
  font-weight: 400;
  line-height: 24px;
}
.sf_pro_text {
  font-family: SF Pro Text;
  line-height: 20px;
}
/* ============= Container ================ */

.container {
  max-width: 1489.33px;
  padding: 0;
}

/* ============ search navbar =============== */
.navbar {
  background-color: transparent !important;
}

.navbar .navbar-brand {
  font-family: SF Pro Display;
  font-size: 32px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
}
.navbar .input_section {
  width: 494.08px;
  min-height: 56px;
  background-color: #ffffff;
  border: 1px solid #8c8c8c;
}

.navbar .input_section input {
  border: none;
  background-color: transparent;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.navbar .filter_container {
  margin-right: 16px;
}
.navbar .filter_container .dropdown-toggle {
  background-color: white;
  border: 1px solid #eaeaea;
  min-width: 136.25px;
  min-height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar .filter_container .dropdown-toggle,
.navbar .filter_container .dropdown-menu .dropdown-item {
  font-family: SF Pro Text;
  font-size: 14px;
  font-weight: 500;
  color: #030303;
}

.navbar .filter_container .dropdown-menu {
  min-width: 136.25px;
}

.dropdown-toggle::after {
  content: url("./assets/icons/down-arrow-icon.svg");
  margin-left: 20px;
  border: none;
}

/* ================ side navigation ============= */

.side_navigaiton_container {
  background-color: var(--side-navigation-color);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.side_navigaiton_container .content_section h2 {
  font-family: Inter;
  font-size: 32px;
  font-weight: 700;
  line-height: 46.6px;
  color: var(--white-color);
}

.side_navigaiton_container .content_section .top_section .nav_link.active {
  background-color: var(--white-color);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #6c6c6c !important;
}

.side_navigaiton_container .content_section .bottom_section {
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: 120px;
  background-color: white;
  border: 1px solid white;
  border-bottom-right-radius: 20px;
}

.side_navigaiton_container .content_section .bottom_section button p {
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  color: #02005f;
}

/* ============== main container ============ */
.main_container {
  background-color: var(--soft-blue-theme);
}
.main_container .top_nav {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

/* ============ table section ===================== */
.custom_table_section {
  min-height: 531px;
}

.custom_table_section .custom_table_container {
  min-height: 471px;
  padding: 8px, 0px, 16px, 8px;
  border-radius: 16px;
  background-color: white !important;
  margin-bottom: 24px;
  padding: 14px 10px;
}

.custom_table_section .custom_table_container .coloumn_headings,
.custom_table_section .custom_table_container .common_campaign_heading,
.custom_table_section .custom_table_container .common_campaign_date_heading,
.custom_table_section .custom_table_container .campaign_status {
  padding: 13px 10px 13px 24px !important;
}

.custom_table_section .custom_table_container table {
  border-collapse: collapse;
  border-style: hidden;
}
.custom_table_section .custom_table_container table td,
.custom_table_section .custom_table_container th {
  border: 1px solid #e7e7e7;
}

.custom_table_section .custom_table_container .common_campaign_heading,
.custom_table_section .custom_table_container .common_campaign_date_heading {
  font-size: 14px;
}
.custom_table_section .custom_table_container .common_campaign_date_heading {
  color: #bfbfbf !important;
}

.custom_table_section .custom_table_container .campaign_status,
.custom_table_section .custom_table_container .pagination_section .page_count {
  font-size: 12px;
  font-weight: 400;
}

.custom_table_section
  .custom_table_container
  .common_campaign_heading
  .per_month {
  font-size: 8px;
}

.custom_table_section .custom_table_container .status_badge_ongoing {
  width: 89px;
  height: 27px;
  background-color: #e3ffbf !important;
}
.custom_table_section .custom_table_container .status_badge_paused {
  width: 78px;
  height: 27px;
  background-color: #eaeaea !important;
}

/* ============= pagination ============ */

.pagination_section .prev_btn,
.next_btn {
  width: 36px;
  height: 36px;
  padding: 8px;
  background-color: var(--white-color);
  border: 1px solid #babfc3;
}

.pagination_section .prev_btn {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.pagination_section .next_btn {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
