@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Urbanist:wght@500;600;700;800&display=swap");

@font-face {
  font-family: SF Pro Display;
  src: url("./assets/fonts/SF_Pro-Display-Font-Family/SFPRODISPLAYREGULAR.OTF");
}

@font-face {
  font-family: SF Pro Text;
  src: url("./assets/fonts/SF-Pro-Text-Font-Family/SF-Pro-Text-Regular.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

:root {
  --white-color: #ffffff;
  --side-navigation-color: #003848;
  --soft-blue-theme: #f6f8ff;
  --dark-blue: #02005f;
  --dark-grey: #d4d4d4;
  --link-color: #2b8be4;
  --light-grey: #adadad;
}

body {
  font-family: "Inter", sans-serif !important;
}

/* =========== default setting =========== */

a {
  text-decoration: none;
}
li {
  list-style: none;
}
p {
  margin: 0;
  padding: 0;
}
button,
select {
  border: none;
  background-color: transparent;
}

.hide {
  display: none;
}

input:focus,
select:focus {
  outline: none;
  box-shadow: none;
}

input::-moz-focus-inner {
  border: 0;
}

/* ============ transitions =========== */

.transition_5s {
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}

/* =================== border radius ==================== */

.border_radius_9 {
  border-radius: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
}

.border_radius_12 {
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
.border_radius_26 {
  border-radius: 26px;
  -webkit-border-radius: 26px;
  -moz-border-radius: 26px;
  -ms-border-radius: 26px;
  -o-border-radius: 26px;
}

/* ========================= SF PRO DISPLAY FONT =================== */

.sf_pro_font_400 {
  font-family: SF Pro Display;
  font-weight: 400;
  line-height: 24px;
}

.sf_pro_font_400w_12f {
  font-family: SF Pro Display;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  /* color: #373737; */
}
.sf_pro_font_400w_14f {
  font-family: SF Pro Display;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.sf_pro_font_400w_16f {
  font-family: SF Pro Display;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #202223 !important;
}

.sf_pro_font_500 {
  font-family: SF Pro Display;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #202223 !important;
}

.sf_pro_font_700 {
  font-family: SF Pro Display;
  font-size: 32px;
  font-weight: 700;
  line-height: 24px;
}
.sf_pro_font_700w_22f {
  font-family: SF Pro Display;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: #202223;
}

/* ================== SF PRO TEXT ================== */

.sf_pro_text_400w_12f {
  font-family: SF Pro Text;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  color: black;
  /* color:#202223 */
}
.sf_pro_text_500w_14f {
  font-family: SF Pro Text;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

/* ======================= INTER FONT ============== */
.interfont_18s_500w {
  color: #161616;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
}

.interfont_14f_400w {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.interfont_14f_500w {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #161616;
}

/* =========================== common classes =================== */
.common_section_margin {
  margin-top: 29px;
}
.common_section_content_margin {
  margin-top: 27px;
}

.common_link_color {
  color: var(--link-color) !important;
}

/* ====================== custom classes ======================== */

.custom_theme_btn {
  width: 95px;
  height: 54px;
  padding: 9px, 15px, 9px, 15px;
  border: 1px solid #eaeaea;
  background: var(--side-navigation-color);
  color: #f6f8ff;
}

.custom_input {
  width: 215px;
  height: 56px;
  background-color: transparent;
  border: 1px solid #8c8c8c !important;
  /* padding: 16px, 228px, 16px, 18px; */
}

.custom_btn_section .download_btn {
  width: 252px;
  height: 54px;
  padding: 9px 15px;
  font-size: 14px;
  font-weight: 500;
  color: var(--white-color);
  background-color: var(--side-navigation-color);
}

.custom_btn_section .cancel_btn {
  width: 109px;
  height: 54px;
  padding: 9px 15px;
  font-size: 14px;
  font-weight: 500;
  color: var(--side-navigation-color);
  background-color: #f4f4f4;
  margin-right: 10px;
}

/* ===================== badges ============ */
.progress_badge {
  width: 89px;
  height: 27px;
}
.disabled_badge {
  width: 78px;
  height: 27px;
}
.customer_badge {
  min-width: 57px;
  max-width: 76px;
  max-height: 31px;
  padding: 10px;
}

/* ============= Container ================ */

.container {
  max-width: 1489.33px;
  padding: 0;
}

/* ============ search navbar =============== */
.navbar {
  background-color: transparent !important;
}

.navbar .input_section {
  width: 494.08px;
  min-height: 56px;
  background-color: #ffffff;
  border: 1px solid #8c8c8c;
}

.navbar .input_section input {
  border: none;
  background-color: transparent;
}

.navbar .filter_container {
  margin-right: 16px;
}
.navbar .filter_container .dropdown-toggle {
  background-color: white;
  border: 1px solid #eaeaea;
  min-width: 136.25px;
  min-height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar .filter_container .dropdown-toggle,
.navbar .filter_container .dropdown-menu .dropdown-item {
  color: #030303;
}

.navbar .filter_container .dropdown-menu,
.dropdown-menu {
  min-width: 136.25px;
  --bs-dropdown-link-hover-bg: var(--soft-blue-theme);
  --bs-dropdown-link-active-bg: var(--soft-blue-theme);
}

.dropdown-toggle::after {
  content: url("./assets/icons/down-arrow-icon.svg");
  margin-left: 20px;
  border: none;
}

/* ================ side navigation ============= */

.common_round_border {
  border-top-right-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
}

.side_navigaiton_container {
  background-color: var(--side-navigation-color);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.side_navigaiton_container .content_section h2 {
  font-family: Inter;
  font-size: 32px;
  font-weight: 700;
  line-height: 46.6px;
  color: var(--white-color);
  margin-bottom: 82.95px;
  margin-top: 62.05px;
}

.side_navigaiton_container .content_section .top_section .nav_link.active {
  background-color: var(--white-color);
  color: #6c6c6c !important;
}

.side_navigaiton_container .content_section .bottom_section {
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: 120px;
  background-color: white;
  border: 1px solid white;
  border-bottom-right-radius: 17px;
}

.side_navigaiton_container .content_section .bottom_section button p {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  color: var(--dark-blue);
}

/* ============== main container ============ */
.main_container,
.main_layout {
  background-color: var(--soft-blue-theme);
}
.main_container .top_nav {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

/* ============ table section ===================== */
.custom_table_section {
  max-height: 531px;
}

.custom_table_section .custom_table_container {
  max-height: 471px;
  border-radius: 16px;
  margin-bottom: 24px;
  padding: 14px 10px;
  background-color: white !important;
}

.custom_table_section .custom_table_container .coloumn_headings,
.custom_table_section .custom_table_container .common_campaign_heading,
.custom_table_section .custom_table_container .common_campaign_date_heading,
.custom_table_section .custom_table_container .campaign_status {
  padding: 13px 10px 13px 24px !important;
}

.custom_table_section .custom_table_container table {
  border-collapse: collapse;
  border-style: hidden;
}
.custom_table_section .custom_table_container table td,
.custom_table_section .custom_table_container th {
  border: 1px solid #e7e7e7;
}

.custom_table_section .custom_table_container .common_campaign_heading,
.custom_table_section .custom_table_container .common_campaign_date_heading {
  font-size: 14px;
}
.custom_table_section .custom_table_container .common_campaign_date_heading,
.created_on {
  color: #bfbfbf !important;
}

.custom_table_section .custom_table_container .campaign_status,
.custom_table_section .custom_table_container .pagination_section .page_count {
  font-size: 12px;
  font-weight: 400;
}

.custom_table_section
  .custom_table_container
  .common_campaign_heading
  .per_month {
  font-size: 8px;
}

/* ============= pagination ============ */

.pagination_section .prev_btn,
.next_btn {
  width: 36px;
  height: 36px;
  padding: 8px;
  background-color: var(--white-color);
  border: 1px solid #babfc3;
}

.pagination_section .prev_btn {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.pagination_section .next_btn {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* ================ campagin details ============== */
.campaign_detail_section,
.postcard_detail_section {
  padding: 41px 34px;
}

.campaign_detail_section .download_capmpaign_details button,
.postcard_detail_section .download_capmpaign_details button {
  width: 252px;
  height: 54px;
  padding: 9px 15px;
  font-size: 14px;
  font-weight: 500;
  color: var(--white-color);
  background-color: var(--side-navigation-color);
}

.campaign_detail_section .customers_list_section {
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}

.customer_list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.campaign_detail_section .top_content,
.campaign_detail_section .download_capmpaign_details,
.campaign_detail_section .customers_section,
.campaign_detail_section .input_section {
  margin-bottom: 21px;
}

/* ============== post card section ============== */
.postcard_detail_section .post_card {
  width: 244px;
  height: 172px;
  padding: 28px 16px;
  border: 1px solid #d7d7d7;
  background: #fff;
}
.postcard_detail_section .post_card .pending,
.pending {
  background-color: #f0f9ff;
}
.postcard_detail_section .post_card .sent {
  background-color: #ffecec;
}

.postcard_detail_section .post_card .status_badge,
.status_badge {
  height: 38px;
  width: 38px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.postcard_detail_section .post_card .pending img {
  height: 19.46px;
  width: 19.46px;
}

.postcard_detail_section .post_card .main_heading {
  font-size: 21px;
  font-weight: 500;
  line-height: 24px;
}
.postcard_detail_section .post_card .count {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: var(--light-grey);
}
.postcard_detail_section .post_card:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  box-shadow: 8px 15px 30px 0px rgba(0, 56, 72, 0.1);
}

.postcard_detail_section .design_section .design_card {
  min-width: 331.61px;
  min-height: 233.65px;
}
.postcard_detail_section .design_section .design_card h2 {
  font-size: 28px;
  font-weight: 500;
  line-height: 41px;
}
.postcard_detail_section .design_section .design_card .tag {
  min-width: 66px;
  min-height: 24px;
  padding: 2px 4px;
  background-color: #e4e5e7;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.postcard_detail_section .design_section .img_overlay {
  inset: 0;
  font-size: 35px;
  font-weight: 600;
  line-height: 16px;
}
.postcard_detail_section .design_section .img_overlay2 {
  left: 24px;
  bottom: 24px;
  color: var(--white-color);
}

.postcard_detail_section .design_section .img_overlay2 .name {
  font-size: 28px;
  font-weight: 400;
}

.postcard_detail_section .design_section .img_overlay2 p {
  font-size: 15px;
  font-weight: 400;
  line-height: 16px;
}

/* ==================== customer detail modal =========== */

.modal-dialog {
  min-width: 683.86px;
  min-height: 589px;
  top: 0;
  margin: 10% auto;
}

.sent_out_status {
  width: 84px;
  height: 24px;
  padding: 9px 18px;
  background-color: #eaeaea;
}

.campaign_tag {
  max-width: 196px;
  height: 31px;
  background-color: #d4d4d4;
  border-radius: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
}

.modal_close_btn {
  width: 30.15px;
  height: 30.15px;
  padding: 12px;
  background-color: #efefef;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

/* ================= settings ============ */
.setting_section .setting_option {
  min-width: 233px;
  min-height: 86px;
  padding: 24px 41px 24px 16px;
  border: 1px solid #d7d7d7;
  background-color: #fff;
}

.setting_section .setting_option:hover {
  box-shadow: 0px 7px 0px 0px var(--side-navigation-color);
}

.profile_section .user_icon {
  width: 111.848px;
  height: 111.848px;
  background-color: var(--side-navigation-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
