@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Urbanist:wght@500;600;700;800&display=swap");

@font-face {
  font-family: SF Pro Display;
  src: url("./assets/fonts/SF_Pro-Display-Font-Family/SFPRODISPLAYREGULAR.OTF");
}

@font-face {
  font-family: SF Pro Text;
  src: url("./assets/fonts/SF-Pro-Text-Font-Family/SF-Pro-Text-Regular.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  /* background-color: rgba(0, 0, 0, 0.1); */
}

:root {
  --white-color: #ffffff;
  --side-navigation-color: #003848;
  --soft-blue-theme: #f4f9ff;
}

body {
  font-family: "Inter", sans-serif;
}

/* =========== default setting =========== */

a {
  text-decoration: none;
}
li {
  list-style: none;
}
p {
  margin: 0;
  padding: 0;
}
button {
  border: none;
  background-color: transparent;
}
input {
  border: none;
  background-color: transparent;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
.hide {
  display: none;
}
.cursor {
  cursor: pointer;
  z-index: 999;
}

.transition_5s {
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}
.transition_3s {
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

/* ============ common classes =========== */

.border_radius_12 {
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.sf_pro_font_400 {
  font-family: SF Pro Display;
  font-weight: 400;
  line-height: 24px;
}
.sf_pro_text {
  font-family: SF Pro Text;
  line-height: 20px;
}

/* ============ search navbar =============== */
.navbar {
  background-color: transparent !important;
}

.navbar .navbar-brand {
  font-family: SF Pro Display;
  font-size: 32px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
}
.navbar .input_section {
  border: 1px solid #8c8c8c;
  max-width: 494.08px;
  min-height: 56px;
  background-color: #ffffff;
}
.navbar .filter_section {
  background-color: white;
  border: 1px solid #eaeaea;
  max-width: 136.25px;
  height: 54px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: #030303;
  margin-right: 16px;
}

/* ================ side navigation ============= */

.side_navigaiton_container {
  background-color: var(--side-navigation-color);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.side_navigaiton_container .content_section h2 {
  font-family: Inter;
  font-size: 32px;
  font-weight: 700;
  line-height: 46.6px;
  color: var(--white-color);
}

/* .side_navigaiton_container .content_section .top_section a:hover, */
.active {
  background-color: var(--white-color);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #6c6c6c !important;
}

/* .side_navigaiton_container .content_section .top_section a:hover span img, */
.active span img {
  background-color: #219fff !important;
}
/* .side_navigaiton_container .content_section .top_section a:hover .campaign_icon, */
.active .campaign_icon {
  background-color: white !important;
}

.side_navigaiton_container .content_section .bottom_section {
  left: 0;
  bottom: 0;
  width: 320px;
  height: 120px;
  background-color: white;
  border-bottom-right-radius: 20px;
}

.side_navigaiton_container .content_section .bottom_section button p {
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  color: #02005f;
}

/* ============== main container ============ */
.main_container {
  background-color: var(--soft-blue-theme);
}
.main_container .top_nav {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

/* ============ table ===================== */

.custom_table {
  border-radius: 16px !important;
  -webkit-border-radius: 16px !important;
  -moz-border-radius: 16px !important;
  -ms-border-radius: 16px !important;
  -o-border-radius: 16px !important;
}

.coloumn_headings {
  font-size: 12px;
  min-width: 150px;
  padding: 20px !important;
}

.common_campaign_heading,
.common_campaign_date_heading {
  font-size: 14px;
  padding: 13px 20px !important;
}
.common_campaign_date_heading {
  color: #bfbfbf !important;
}

.campaign_status,
.pagination_section .page_count {
  font-size: 12px;
  font-weight: 400;
}

.common_campaign_heading .per_month {
  font-size: 8px;
}

.status_badge_ongoing {
  width: 89px;
  height: 27px;
  padding: 9px, 18px, 9px, 18px;
  background-color: #e3ffbf !important;
}
.status_badge_paused {
  width: 78px;
  padding: 9px, 18px, 9px, 18px;
  height: 27px;
  background-color: #eaeaea !important;
}

.pagination_section .icon {
  width: 36px;
  height: 36px;
  border: 1px solid #babfc3;
  background-color: white;
}
